layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" {
        pane name="nvim" command="bash" focus=true {
            args "-c" "nvim src/main.zig; bash"
        }
        pane name="zig built test && zig build run" command="bash" {
            args "-c" "while sleep 0.1; do find -L src *.zig *.txt ../util -type f | entr -ds 'clear; timeout 30 zig build test && zig build run -- input.txt'; done"
        }
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
